.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
}

.loginContainer{
    background-color: rgb(182, 182, 182);
    width: 80%;
}