body {
  margin: 0;
  font-family: 'Roboto',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.componentCenter{
  display         : flex;
  align-items     : center;
  justify-content : center;
  flex-direction  : column;
  text-align      : center;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
}

.loginContainer{
  background-color: rgb(182, 182, 182);
  width: 80%;
}

.formContainer{
  display         : flex;
  align-items     : center;
  justify-content : center;
  flex-direction  : column;
  text-align      : center;
}